*{
  margin: 0;
  margin: 0 auto;

}

.app{

}

.app__body {
  background-color: #fafafa;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;

}

.app__main {
  width: 100%;
  max-width: 975px;
  margin-top: 54px;
  display: flex;
}

.app__main__left {
  margin: 0;
  padding: 0;
  max-width: 614px ;
}
